<p>
  date2 works!
</p>

<div class="row">
  <div class="col-sm-4">
    <input class="form-control" [(ngModel)]="date2" [dpDayPicker]="configDate2" theme="dp-material" mode="day" />
  </div>
  <div class="col-sm-4">
    <input class="form-control col-sm-4" [(ngModel)]="time2" [dpDayPicker]="configTime2" theme="dp-material" mode="time" />
  </div>
  <div class="col-sm-4">
    <input class="form-control col-sm-4" [(ngModel)]="datetime2" [dpDayPicker]="configDateTime2" theme="dp-material" mode="daytime"
    />
  </div>
</div>