<p>
  date0 works!
</p>

<div class="row">
  <div class="col-sm-4">
    <input class="form-control" [(ngModel)]="date0" [dpDayPicker]="configDate0" theme="dp-material" mode="day" />
  </div>
  <div class="col-sm-4">
      <input class="form-control col-sm-4" [(ngModel)]="time0" [dpDayPicker]="configTime0" theme="dp-material" mode="time" />
  </div>
  <div class="col-sm-4">
      <input class="form-control col-sm-4" [(ngModel)]="datetime0" [dpDayPicker]="configDateTime0" theme="dp-material" mode="daytime"/>
  </div>
</div>