<p>
  date1 works!
</p>

<div class="row">
  <div class="col-sm-4">
    <input class="form-control" [(ngModel)]="date1" [dpDayPicker]="configDate1" theme="dp-material" mode="day" />
  </div>
  <div class="col-sm-4">
    <input class="form-control col-sm-4" [(ngModel)]="time1" [dpDayPicker]="configTime1" theme="dp-material" mode="time" />
  </div>
  <div class="col-sm-4">
    <input class="form-control col-sm-4" [(ngModel)]="datetime1" [dpDayPicker]="configDateTime1" theme="dp-material" mode="daytime"
    />
  </div>
</div>